<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h6><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h6>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="input-group mb-3 my-5">
  
  <input type="text" class="form-control" placeholder="Title of Project" aria-label="Username" aria-describedby="basic-addon1" <%= form.text_field :title %>
</div>  
    
<div class="form-floating">
<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px" <%= form.text_area :description %></textarea>
<label for="floatingTextarea2">Description</label>
</div>

<br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
